@inject IAuthorizationService AuthorizationService

@using Microsoft.AspNetCore.Authorization
@using PermissionBasedAuthorizationIntDotNet5.Contants

@{
    ViewData["Title"] = "Products";
}

<h1>Manage Products</h1>
<hr />


@if (AuthorizationService.AuthorizeAsync(User,"ProductView").Result.Succeeded)

{
    <h1>
        U can View All Books
    </h1>

}
